@import "variables";

html {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  @extend %extends-body;
}
.logo {
  float: left;
  color: #08596a;
  margin-left: 46px;
  padding: 0px 38px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.logo {
  a {
    text-decoration: none;
    color: #08596a;
  }
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;
  ul {
    list-style: none;
    cursor: pointer;
    float: right;
    margin-right: 140px;
    li {
      list-style: none;
      display: inline-block;
      color: #08596a;
      font-family: "Raleway", sans-serif;
      padding: 15px 15px;
      font-weight: 400;
    }
    &:hover {
      border-bottom: 3px solid $warnamu;
      transition: all 0.3s ease;
    }
  }
}

.logo {
  h1 {
    color: #fff;
    font-family: "Fredericka the Great", cursive;
  }
}
.header {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  h1 {
    color: #08596a;
    text-align: left;
    font-family: "Noto Serif JP", sans-serif;
    font-size: 50px;
  }
  span {
    color: #08596a;
  }
}

.tagline {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 70%;
  left: 73%;
  p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-align: left;
    color: #08596a;
  }
}
.down {
  position: absolute;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
  img {
    width: 53%;
  }
}
.text {
  width: 205px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}
